<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'edit.css' %}">
    <title>Edit Page</title>
</head>
<body>
    <div class="main-heading">
        <h1>DJANGO CV PROJECT</h1>
    </div>
    <hr>
    <div>
        <form action="/show">
            <input id="record" type="submit" value="Show Records">
        </form>
    </div>

    <div id="DivOne">
        <form action="/RecordEdited" method="post">
            {% csrf_token %}
            <h3>Name <input type="text" name="name" id="institute" value="{{data.name}}"></h3>
            <h3>Title <input type="text" name="title" id="institute" value="{{data.title}}"></h3>
            <h3>Phone<input type="text" name="phone" id="institute" value="{{data.phone}}"></h3>
            <h3>Email<input type="text" name="email" id="institute" value="{{data.email}}"></h3>
            <h3>Linkedin<input type="text" name="linkedin_profile" id="company" value="{{data.linkedin_profile}}"></h3>
            <h3>Github<input type="text" name="github_profile" id="institute" value="{{data.github_profile}}"></h3>
            <h3>Portfolio<input type="text" name="portfolio_link" id="company" value="{{data.portfolio_link}}"></h3>
            <h3>About<input type="text" name="content" id="institute" value="{{data.content}}"></h3>
            <hr>

            <h1 style="color: lightblue; text-align: center;">JOB EXPERIENCE</h1>
            <hr>
            <h3>Tenure<input type="text" name="tenure" id="institute" value="{{data.tenure}}"></h3>
            <h3>Designation<input type="text" name="designation" id="name" value="{{data.designation}}"></h3>
            <h3>Company<input type="text" name="company_name" id="company" value="{{data.company}}"></h3>
            <h3>Description<input type="text" name="description" id="name" value="{{data.description}}"></h3>

            <h3>Tenure<input type="text" name="tenure1" id="institute" value="{{data.tenure1}}"></h3>
            <h3>Designation<input type="text" name="designation1" id="name" value="{{data.designation1}}"></h3>
            <h3>Company<input type="text" name="company_name1" id="company" value="{{data.company_name1}}"></h3>
            <h3>Description<input type="text" name="description1" id="name" value="{{data.description1}}"></h3>

            <h3>Tenure<input type="text" name="tenure2" id="institute" value="{{data.tenure2}}"></h3>
            <h3>Designation<input type="text" name="designation2" id="name" value="{{data.designation2}}"></h3>
            <h3>Company<input type="text" name="company_name2" id="company" value="{{data.company_name2}}"></h3>
            <h3>Description<input type="text" name="description2" id="name" value="{{data.description2}}"></h3>
            <hr>

            <h1 style="color: lightblue; text-align: center;" >EDUCATION</h1>
            <hr>
            <h3>period<input type="text" name="period" id="period" value="{{data.period}}"></h3>
            <h3>Degree<input type="text" name="degree" id="degree" value="{{data.degree}}"></h3>
            <h3>Institute<input type="text" name="institute_name" id="institute" value="{{data.institute_name}}"></h3>
            <h3>Details<input type="text" name="academic_details" id="details" value="{{data.academic_details}}"></h3>
            <hr>
            <h1 style="color: lightblue;text-align: center;">SKILLS</h1>
            <hr>
            <h3>Skills<input type="text" name="skills" id="skills" value="{{data.skills}}"></h3>
            <h3>Skills<input type="text" name="skills1" id="skills" value="{{data.skills1}}"></h3>
            <h3>Skills<input type="text" name="skills2" id="skills" value="{{data.skills2}}"></h3>
            <hr>
            <h1 style="color: lightblue;text-align: center;">CERTIFICATIONS</h1>
            <hr>
            <h3>Certifications<input type="text" name="certificate_name" id="name" value="{{data.certificate_name}}"></h3>
            <h3>Certifications<input type="text" name="certificate_name1" id="name" value="{{data.certificate_name1}}"></h3>
            <h3>Certifications<input type="text" name="certificate_name2" id="name" value="{{data.certificate_name2}}"></h3>
            <input type="submit" id="btn">
        </form>
        <span>{{msg}}</span>
    </div>
</body>
</html>